:root {
    --text-card-color: purple; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
    font-family: 'Red Hat Text', sans-serif;
    text-transform: uppercase;
}

body {
    display: grid;
    grid-template-rows: 1fr auto;
    margin-inline: auto;
    align-items: center;
    color: white;
    gap: 50px;
    min-height: 100svh;
    max-width: 690px;
    padding: 50px 1em;
    background-color: #1e1f29;
}


.countdown {
    display: grid;
    gap: clamp(60px, 10vw, 100px);
    text-align: center;
}

h1 {
    font-size: min(1.5rem, 5vw);
    letter-spacing: 7px;
}

.clock {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: clamp(10px, 3vw, 32px);
    font-size: clamp(2.5rem, 12vw, 5.5rem);
}

.container {
    display: grid;
    gap: 16px;
}

.card {
    position: relative;
    display: grid;
    align-items: center;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    line-height: 1;
    color: var(--text-card-color);
    box-shadow: 0 min(1vw, 0.1em) 0 hsl(234, 17%, 12%);
    overflow: hidden;
}

.card::before, .card::after{
    content: '';
    position: absolute;
    z-index: 1;
    width: 10px;
    top: 50%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #1e1f29;
}

.card::before{
    left: 0;
    transform: translate(-50%, -50%);
}

.card::after{
    right: 0;
    transform: translate(50%, -50%);
}

.title {
    font-size: clamp(0.65rem, 2vw, 1rem);
    letter-spacing: clamp(3px, 1vw, 5px);
    color: hsl(237, 18%, 59%);
}

.card_top, .card_top--flip, 
.card_bottom, .card_bottom--flip{
    position: absolute;
    padding-top: 0.4em;
    overflow: hidden;
}

.card_top, .card_top--flip{
    inset: 0 0 50%;
    color: hsl(from --text-card-color h s calc(l - 0.04));
    background-color: hsl(240, 21%, 22%);
    border-bottom: 1px solid hsl(235, 16%, 14%);
}

.card_bottom, .card_bottom--flip{
    inset: 0;
    z-index: -1;
    background-color: hsl(236, 21%, 26%);
}

.card_top--flip{
    transform-origin: bottom;
    animation: 0.5s linear top-flip;
}

.card_bottom--flip{
    transform: rotateX(90deg);
    transform-origin: center;
    animation: 0.5s linear 0.5s bottom-flip;
}

.color-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

button {
    cursor: pointer;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
}

button.purple {
    background-color: purple;
}

button.red {
    background-color: red;
}

button.blue {
    background-color: blue;
}

button.gold {
    background-color: gold;
}


footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

footer a {
    font-size: 35px;
    color: white;
}

@keyframes top-flip {
    to{
        transform: rotateX(90deg);
    }
}
@keyframes bottom-flip {
    to{
        transform: rotateX(0deg);
    }
}